.skillsIcons {
    display: flex;
  flex-direction: row;
  justify-content: center;
    background-color: white;
    margin: 10rem;
    margin-top: 70rem;
    border-radius: 3rem;
    border-style: groove;
    padding: 3rem;
  }
    
    .jsIcon{
     height: 16rem;
     width: 16rem;
     margin: 2rem;
    }
    
    .reactIcon {
      height: 16rem;
     width: 16rem;
     margin: 2rem;
    }
    
    .nodeIcon {
      height: 16rem;
     width: 16rem;
     margin: 2rem;
    } 

    .RNIcon {
      height: 20rem;
     width: 20rem;
     margin: 2rem;
    }
  
    .htmlIcon {
      height: 16rem;
     width: 16rem;
     margin: 2rem;
    } 
  
    .cssIcon {
      height: 16rem;
     width: 16rem;
     margin: 2rem;
    } 
  
    .postgresIcon {
      height: 16rem;
     width: 16rem;
     margin: 2rem;
    } 
  
    .nextIcon {
      height: 16rem;
     width: 16rem;
     margin: 2rem;
    } 
  
    .expressIcon {
      height: 16rem;
     width: 16rem;
     margin: 2rem;
    } 
    
    .jsImage{
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }
    
    .reactImage {
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }

    .RNImage {
      height: 100%; 
      width: 100%; 
      object-fit: contain
    }
    
    .nodeImage {
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }
  
    .htmlImage {
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }
  
    .cssImage {
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }
  
    .postgresImage {
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }
  
    .nextImage {
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }
  
    .expressImage {
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }