.bodySection {
    margin-top: 15%;
    margin-left: 5%;
    padding-right: 10%;
}

.para5{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }

  .para6{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }

  .para7{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }