
 .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 900px;
  height: 408px;
  left: 102px;
  top: 30px;
}

.blackMainTitle {
  position: static;
  width: 508px;
  height: 154px;
  left: calc(50% - 508px / 2);
  top: calc(50% - 154px / 2 - 107.5px);
   margin-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 77px;
  line-height: 120%;
  color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
 } 




.VideoContainer {
  top: 500px;
  width: 50rem;
  height: 50rem;
  margin: 2rem;
}  

.catImageContainer {
  top: 200px;
  width: 50rem;
  height: 50rem;
  margin: 2rem;
}

.catImage {
  height: 100%; 
    width: 100%; 
    object-fit: contain;
}